################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Components/LiveSplit.NetworkSync.exe
/LiveSplit.NetworkSync.csproj.user
